html{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(Fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%
}
header{
  background-color: black;
  padding: 20px 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom:4px solid rgb(37, 0, 224 ) ;
}
.marco{
    border: 10px solid rgb(86, 116, 240) ;
    border-radius: 10px;
    padding-left: 19px;
    padding-right: 19px;
    float: left;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%,90%);
    margin: 20px ;
}
.bo{
border-radius: 50%;
height: 200px;
width: 200px;
float: left;
margin-right: 15px;
margin-top: 15px;
margin-bottom: 15px;

}
.titulo1{
   
        font-family: "Poetsen One", sans-serif;
        font-weight: 350;
        font-style:normal ;
        font-size: 50px;
        color: white;
        margin: 0;
}
.titulo2 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: antiquewhite;
  }

  #PrimPart{
    background-color: hsl(208, 100%, 97%, 15%) ;
    padding: 15px;
    margin-top: 20px;
  }
  .texto{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    color: antiquewhite;
  }
   #textodentro{
    text-indent: 15px;
    font-size: 22px;
    text-align: justify;
    justify-content: flex-start;
    color: black;
  }
table{
  display: flex;
  justify-content: center;
  align-content: center;
  border-collapse: collapse;
  width: fit-content;
  border: 2px solid black;
  }
  th{
    border: 2px solid black;
  
  }
tr{
  border: 2px solid black;
  
}
td{
  border: 2px solid black;
 text-align: center;
  vertical-align: center;
}
#CF{
  display: flex;
  flex-direction: row;
}
.Display{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

#dos{
  display: grid;
  grid-template-columns:repeat(2,1fr);
}
#sobre{
  color: blueviolet;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}